@model Dictionary<Product,int>

<div class="container">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>
					Product
				</th>
				<th>
					Quantity
				</th>
				<th>
					Price
				</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				<tr>
					<td>
						@Model.Keys.ElementAt(i)
					</td>
					<td>
						@Model[Model.Keys.ElementAt(i)]
					</td>
					<td>
						<button class="btn" onclick="addProduct(@Model.Keys.ElementAt(i))">+</button>
						<button class="btn" onclick="subtractProduct(@Model.Keys.ElementAt(i))">-</button>
					</td>
					<td>
						@Model.Keys.ElementAt(i).Price*@Model[Model.Keys.ElementAt(i)]
					</td>
					<td>
						<button on-click="removeProduct(@Model.Keys.ElementAt(i))">Remove From Cart</button>
					</td>
					<td>
						<button id="checkout">Checkout</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		function addProduct(product){
			$.ajax({
				url : @Url.Action("AddProduct","Products"),
				type : "GET",
				data : { product : product },
				success : function(response){
					console.log(response);
				},
				error : function(error){
					console.log(error);
				}
			})
		}
		function subtractProduct(product){
			$.ajax({
				url : @Url.Action("SubtractProduct","Products"),
				type : "GET",
				data : { product : product },
				success : function(response){
					console.log(response);
				},
				error : function(error){
					console.log(error);
				}
			})
		}
		function removeProduct(product){
			$.ajax({
				url : @Url.Action("RemoveProduct", "Products"),
				type : "GET",
				data : { product : product },
				success : function(response){
					console.log(response);
				},
				error : function(error){
					console.log(error);
				}
			})
		}
	})	
</script>